<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.yun.biao.user.mapper.ShUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.li.yun.biao.user.model.ShUserRole">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="rid" property="rid" jdbcType="INTEGER"/>
        <result column="p_type" property="pType" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, rid, p_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sh_user_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sh_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.li.yun.biao.user.model.ShUserRole">
    insert into sh_user_role (id, uid, rid,
      p_type)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER},
      #{pType,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.li.yun.biao.user.model.ShUserRole">
        insert into sh_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="rid != null">
                rid,
            </if>
            <if test="pType != null">
                p_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="rid != null">
                #{rid,jdbcType=INTEGER},
            </if>
            <if test="pType != null">
                #{pType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.li.yun.biao.user.model.ShUserRole">
        update sh_user_role
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="rid != null">
                rid = #{rid,jdbcType=INTEGER},
            </if>
            <if test="pType != null">
                p_type = #{pType,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.li.yun.biao.user.model.ShUserRole">
    update sh_user_role
    set uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      p_type = #{pType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--自定义方法-->
    <select id="selectUserRoleByUid" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sh_user_role
        where uid = #{uid,jdbcType=INTEGER} and p_type=#{pType,jdbcType=INTEGER};
    </select>

    <!--自定义方法-->
    <sql id="pagination">
        <if test="start != null">
            <![CDATA[ limit #{start}, #{limit}]]>
        </if>
    </sql>

    <select id="selectResultByQuery" resultMap="BaseResultMap" parameterType="com.li.yun.biao.common.dao.Query">
        select
        <include refid="Base_Column_List"/>
        from sh_user_role
        where 1=1
        <if test="queryObject!=null and queryObject.id != null">
            and id = #{queryObject.id}
        </if>
        <if test="queryObject!=null and queryObject.rid != null">
            and rid = #{queryObject.rid}
        </if>
        <if test="queryObject!=null and queryObject.uid != null">
            and uid = #{queryObject.uid}
        </if>
        <if test="queryObject!=null and queryObject.pType != null">
            and p_type = #{queryObject.pType}
        </if>
        <if test="orderBy!=null and orderBy.toOrderBy != null">
            order by ${orderBy.toOrderBy}
        </if>
        <include refid="pagination"/>
    </select>

    <select id="countResultByQuery" resultType="int" parameterType="com.li.yun.biao.common.dao.Query">
        select
        count(1)
        from sh_user_role
        where 1=1
        <if test="queryObject!=null and queryObject.id != null">
            and id = #{queryObject.id}
        </if>
        <if test="queryObject!=null and queryObject.rid != null">
            and rid = #{queryObject.rid}
        </if>
        <if test="queryObject!=null and queryObject.uid != null">
            and uid = #{queryObject.uid}
        </if>
        <if test="queryObject!=null and queryObject.pType != null">
            and p_type = #{queryObject.pType}
        </if>
    </select>
</mapper>