<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- redis 工具类 -->
    <bean id="redisUtil" class="com.li.yun.biao.common.utils.RedisUtil">
        <property name="redisTemplate" ref="redisTemplate"/>
    </bean>
    <import resource="classpath:spring/dubbo-*.xml"/>
    <import resource="classpath:spring/app-ehcache.xml"/>
</beans>