<!DOCTYPE html>
<html>
<head>
    #parse("/common/nav_header.html")
    <link href="/static/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    #parse("/common/nav_left.html")
    <!--右侧部分开始-->
    <!--右侧栏-->
    <div id="page-wrapper" class="gray-bg" style="min-height: 591px;">
        <!--顶部标题栏-->
        #parse("/common/nav_title.html")
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">新增用户</span>
                            <h5>Users</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">386,200</h1>
                            <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                            <small>Total users</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">今日浏览</span>
                            <h5>Vistits</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">80,800</h1>
                            <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                            <small>Total vistits</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">今日交易</span>
                            <h5>Pay</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="no-margins">406,42</h1>
                                    <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i>
                                        <small>Total count</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="no-margins">206,12</h1>
                                    <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i>
                                        <small>Total amount</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>用户活跃指数</h5>
                            <div class="ibox-tools">
                                <span class="label label-primary">Updated 12.2015</span>
                            </div>
                        </div>
                        <div class="ibox-content no-padding">
                            <div class="flot-chart m-t-lg" style="height: 55px;">
                                <div class="flot-chart-content" id="flot-chart1"
                                     style="padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="634" height="110"
                                            style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 317px; height: 55px;">
                                    </canvas>
                                    <canvas class="flot-overlay" width="634" height="110"
                                            style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 317px; height: 55px;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div>
                                <span class="pull-right text-right">
                                    <small>Average value of sales in the past month in:
                                        <strong>United states</strong>
                                    </small><br>All sales: 162,862
                                </span>
                                <h3 class="font-bold no-margins">
                                    周交易趋势
                                </h3>
                                <small>Sales marketing.</small>
                            </div>
                            <div class="m-t-sm">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div>
                                            <canvas id="lineChart" height="308" width="812"
                                                    style="width: 406px; height: 154px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="stat-list m-t-lg">
                                            <li>
                                                <h2 class="no-margins">2,346</h2>
                                                <small>Total orders in period</small>
                                                <div class="progress progress-mini">
                                                    <div class="progress-bar" style="width: 48%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h2 class="no-margins ">4,422</h2>
                                                <small>Orders in last month</small>
                                                <div class="progress progress-mini">
                                                    <div class="progress-bar" style="width: 60%;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="m-t-md">
                                <small class="pull-right">
                                    <i class="fa fa-clock-o"> </i>
                                    Update on 16.07.2015
                                </small>
                                <small>
                                    <strong>Analysis of sales:</strong> The value has been changed over time, and last
                                    month reached a level over $50,000.
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Data has changed</span>
                            <h5>User activity</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>236 321.80</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>46.11%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>432.021</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>643 321.10</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>92.43%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>564.554</h4>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>436 547.20</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>150.23%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>124.990</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>最新注册用户 </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户ID</th>
                                        <th>姓名</th>
                                        <th>手机号码</th>
                                        <th>身份证</th>
                                        <th>总交易额</th>
                                        <th>用户地址</th>
                                        <th>注册时间</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    #foreach( $user in $userList )
                                    <tr>
                                        <td> ${velocityCount}</td>
                                        <td>$user.uid</td>
                                        <td>$user.name</td>
                                        <td>$user.mobile</td>
                                        <td>$user.idNumber</td>
                                        <td>#set($fund=$user.totalTransaction/100.0) $fund 元</td>
                                        <td>$user.address</td>
                                        <td> $!date.format('yyyy-MM-dd HH:mm:SS',$user.createTime)</td>
                                        <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                    </tr>
                                    #end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页面内容部分-->
        #parse("/common/nav_foot.html")
    </div>
    <!--右侧部分结束-->
</div>
#parse("/common/nav_css.html")
<script src="/static/js/common.js"></script>
<!-- Flot -->
<script src="/static/js/plugins/flot/jquery.flot.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.symbol.js"></script>
<script src="/static/js/plugins/flot/curvedLines.js"></script>
<!-- Peity -->
<script src="/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/js/demo/peity-demo.js"></script>
<!-- jQuery UI -->
<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Jvectormap -->
<script src="/static/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- Sparkline -->
<script src="/static/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Sparkline demo data  -->
<script src="/static/js/demo/sparkline-demo.js"></script>
<!-- ChartJS-->
<script src="/static/js/plugins/chartJs/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        //用户注册量
        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];
        var data1 = [
            {label: "Data 1", data: d1, color: '#17a084'},
            {label: "Data 2", data: d2, color: '#127e68'}
        ];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {tickDecimals: 0},
            series: {
                lines: {show: true, fill: true, fillColor: {colors: [{opacity: 1}, {opacity: 1}]}},
                points: {width: 0.1, show: false}
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false
            }
        });
        //交易量
        var lineData = {
            labels: [addDate(new Date(), -6), addDate(new Date(), -5), addDate(new Date(), -4), addDate(new Date(), -3), addDate(new Date(), -2), addDate(new Date(), -1), addDate(new Date(), 0)],
            datasets: [
                {
                    label: "Example dataset",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 40, 51, 36, 25, 40]
                },
                {
                    label: "Example dataset",
                    fillColor: "rgba(26,179,148,0.5)",
                    strokeColor: "rgba(26,179,148,0.7)",
                    pointColor: "rgba(26,179,148,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [48, 48, 60, 39, 56, 37, 30]
                }
            ]
        };

        var lineOptions = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            responsive: true
        };
        var ctx = document.getElementById("lineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

    });

    function addDate(date, days) {
        date.setDate(date.getDate() + days);
        var month = (date.getMonth() + 1) + '月';
        var day = date.getDate() + '日';
        if (month.length < 3) month = '0' + month;
        if (day.length < 3) day = '0' + day;
        return month + day;
    }
</script>
</body>
